SMTP AUTH LOGIN fails with "bad syntax" when username is provided inline

Hi,

when using certain clients (e.g. Veeam Backup & Replication on Windows), the SMTP client issues the `AUTH LOGIN` command with the username already base64-encoded on the same line, like this:

```
AUTH LOGIN dXNlckBleGFtcGxlLmNvbQ==
```

This is a valid syntax according to RFC 4954 §4.1, which states that the initial client response can be supplied with the AUTH command.
However, Mox rejects it:

```
501 5.5.2 bad syntax: expected at least one char for sasl-mech (remaining "login dXNlckBleGFtcGxlLmNvbQ==")
```

**Expected behavior:**
Mox should accept AUTH LOGIN <base64-username> as valid input and continue the LOGIN authentication flow.

**Actual behavior:**
Mox rejects the command with 501 bad syntax.

**Logs:**
```
Sep 25 21:40:00 mailgate mox[3152]: l=info m="new connection" pkg=smtpserver remote=172.23.255.227:51979 local=172.23.1.243:587 submission=true tls=false viahttps=false listener=public cid=199825361b3 delta="210.457µs"
Sep 25 21:40:00 mailgate mox[3152]: l=trace m="LS: 220 fw7.***.cz ESMTP mox\r\n" pkg=smtpserver size=31 cid=199825361b3 delta="100.742µs"
Sep 25 21:40:00 mailgate mox[3152]: l=trace m="RC: EHLO ***\r\n" pkg=smtpserver size=17 cid=199825361b3 delta="631.26µs"
Sep 25 21:40:00 mailgate mox[3152]: l=debug m="smtp command result" pkg=smtpserver kind=submission cmd=ehlo code=250 ecode= duration="45.017µs" cid=199825361b3 delta="84.337µs"
Sep 25 21:40:00 mailgate mox[3152]: l=trace m="LS: 250-fw7.***.cz\r\n250-PIPELINING\r\n250-SIZE 104857600\r\n250-STARTTLS\r\n250-AUTH \r\n250-FUTURERELEASE 5184000 2025-11-24T19:40:00Z\r\n250-ENHANCEDSTATUSCODES\r\n250-8BITMIME\r\n250-LIMITS RCPTMAX=1000\r\n250 SMTPUTF8\r\n" pkg=smtpserver size=208 cid=199825361b3 delta="80.541µs"
Sep 25 21:40:00 mailgate mox[3152]: l=trace m="RC: STARTTLS\r\n" pkg=smtpserver size=10 cid=199825361b3 delta="227.913µs"
Sep 25 21:40:00 mailgate mox[3152]: l=debug m="smtp command result" pkg=smtpserver kind=submission cmd=starttls code=220 ecode=2.0.0 duration="12.799µs" cid=199825361b3 delta="39.209µs"
Sep 25 21:40:00 mailgate mox[3152]: l=trace m="LS: 220 2.0.0 go! (zuB5P89bQ0sIVbp-WAqHfg)\r\n" pkg=smtpserver size=40 cid=199825361b3 delta="12.629µs"
Sep 25 21:40:00 mailgate mox[3152]: l=debug m="starting tls server handshake" pkg=smtpserver cid=199825361b3 delta="66.591µs"
Sep 25 21:40:00 mailgate mox[3152]: l=debug m="tls handshake completed" pkg=smtpserver version=tls1.3 ciphersuite=tls_aes_128_gcm_sha256 sni=fw7.***.cz resumed=true clientcerts=0 cid=199825361b3 delta=1.646869ms
Sep 25 21:40:00 mailgate mox[3152]: l=trace m="RC: EHLO ***\r\n" pkg=smtpserver size=17 cid=199825361b3 delta="323.557µs"
Sep 25 21:40:00 mailgate mox[3152]: l=debug m="smtp command result" pkg=smtpserver kind=submission cmd=ehlo code=250 ecode= duration="15.133µs" cid=199825361b3 delta="54.932µs"
Sep 25 21:40:00 mailgate mox[3152]: l=trace m="LS: 250-fw7.***.cz\r\n250-PIPELINING\r\n250-SIZE 104857600\r\n250-REQUIRETLS\r\n250-AUTH SCRAM-SHA-256-PLUS SCRAM-SHA-256 SCRAM-SHA-1-PLUS SCRAM-SHA-1 CRAM-MD5 PLAIN LOGIN\r\n250-FUTURERELEASE 5184000 2025-11-24T19:40:00Z\r\n250-ENHANCEDSTATUSCODES\r\n250-8BITMIME\r\n250-LIMITS RCPTMAX=1000\r\n250 SMTPUTF8\r\n" pkg=smtpserver size=292 cid=199825361b3 delta="39.931µs"
Sep 25 21:40:00 mailgate mox[3152]: l=trace m="RC: AUTH login c2Nhbi16dXNAenVzcG9sbmEuY3o=\r\n" pkg=smtpserver size=41 cid=199825361b3 delta="197.036µs"
Sep 25 21:40:00 mailgate mox[3152]: l=debug m="smtp command result" err="bad syntax: expected at least one char for sasl-mech (remaining \"login c2Nhbi16dXNAenVzcG9sbmEuY3o=\")" pkg=smtpserver kind=submission cmd=auth code=501 ecode=5.5.2 duration="67.322µs" cid=199825361b3 delta="141.183µs"
Sep 25 21:40:00 mailgate mox[3152]: l=trace m="LS: 501 5.5.2 bad syntax: expected at least one char for sasl-mech (zuB5P89bQ0sIVbp-WAqHfg)\r\n" pkg=smtpserver size=89 cid=199825361b3 delta="22.664µs"
Sep 25 21:40:00 mailgate mox[3152]: l=trace m="RC: MAIL FROM:<yyy@xxx.cz>\r\n" pkg=smtpserver size=36 cid=199825361b3 delta="186.971µs"
Sep 25 21:40:00 mailgate mox[3152]: l=debug m="smtp command result" err="authentication required" pkg=smtpserver kind=submission cmd=mail code=530 ecode=5.7.0 duration="19.269µs" cid=199825361b3 delta="58.989µs"
Sep 25 21:40:00 mailgate mox[3152]: l=trace m="LS: 530 5.7.0 authentication required (zuB5P89bQ0sIVbp-WAqHfg)\r\n" pkg=smtpserver size=60 cid=199825361b3 delta="14.372µs"
Sep 25 21:40:00 mailgate mox[3152]: l=info m="connection closed" err="read: EOF (io error)" pkg=smtpserver cid=199825361b3 delta="412.891µs"
Sep 25 21:40:00 mailgate mox[3152]: l=info m="login attempt" pkg=smtpserver address= account=- protocol=submission authmech= result=error remoteip=172.23.255.227 localip=172.23.1.243 tls="version=tls1.3 ciphersuite=tls_aes_128_gcm_sha256 sni=fw7.***.cz resumed=true alpn=" useragent= tlspubkeyfp= count=1 cid=199825361b3
```

**Environment:**
Mox version: v0.0.15
Client: Veeam Backup & Replication 12.x on Windows Server 2022

> "RC: AUTH login c2Nhbi16dXNAenVzcG9sbmEuY3o=\r\n"

While "LOGIN" is implemented in mox, "login" is not. The SASL mechanisms are case-sensitive.

See https://www.xmox.nl/xr/v0.0.15/rfc/4954.html#L699 and the definition of sasl-mech at www.xmox.nl/xr/v0.0.15/rfc/4422.html#L437.

For what it's worth, mox should be supporting the immediate parameter in the auth command for the LOGIN mechanism. See https://www.xmox.nl/xr/v0.0.15/#smtpserver/server.go:1441,rfc (xreadInitial). But also see the comment a bit higher up, at the start of "LOGIN", and how the mechanism not really standardized and deprecated.

Do you have the option to configure a different authentication mechanism?

I fully understand that this topic is rather complex and not always entirely straightforward. I have tested all possible configuration combinations on our side, but unfortunately there is very little flexibility available on the sender’s end.
The first case concerns a Minolta copier, and the second involves Veeam backup software. Both systems provide only very limited SMTP configuration options. As a result, the issue cannot be resolved through client-side adjustments and will need to be addressed on the mox side.