DKIM signatures should be encoded

I have received errors from GMX about mails sent to their servers about invalid DKIM signatures. I think the issue is about the equal sign character in email addresses. Here is the response received from the GMX support team:

> In general a '=' are allowed in local parts. but it should be encoded/escaped inside of i-tag and thats not the case in the given example:
> wrong:
> i=abc=xyz@domain.sample;
> correct:
> i=abc=3Dxyz@domain.sample;
> 
> see also:
> RFC 6376, Section 2.6 („DKIM-Quoted-Printable“)
> RFC 6376, Section 3.2 („Tag=Value Lists“)

I'm not sure if maybe they meant to write `i=abc%3Dxyz@domain.sample;` which is how I would interpret the encoding according to https://datatracker.ietf.org/doc/html/rfc6376#section-2.11

Anyway, mox outgoing mails should handle the encoding of the DKIM signature values.
Thanks!

Thanks, I think indeed this needs to be fixed. It's on my todo list.